<div class="modal-header">
    <h4 class="modal-title pull-left">Add New User</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="newUser.firstname" />
    </div>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="newUser.lastname" />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="newUser.username" />
    </div>
    <div class="form-group">
        <select [(ngModel)]="newUser.role">
            <option [ngValue]="undefined" disabled selected>--Select Role--</option>
            <option *ngFor="let role of roles" [ngValue]="role.name">{{role.name}}</option>
        </select>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="addUser()">Add User</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
</div>