body {
    margin-top: 100px;
    /*padding-bottom: 20px;*/
    /*font-family: 'Anton', sans-serif;*/
    font-family: 'Bangers', cursive;
    font-size: 1.5em;
    overflow-x: hidden;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.money-text {
    color: rgba(33, 108, 42, 1);
    font-size: 2.5em;
}

.next-drawing-text {
    font-size: 2.3em;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

.circle {
    display: block;
    background: black;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    min-width: 80px;
    min-height: 80px;
    margin: 0;
    background: radial-gradient(circle at 33px 33px, #ffffff, #686868);
    font-size: 1.6vw;
    text-align: center;
    padding: 25% 0;
    font-family: 'Permanent Marker', cursive;
}

.mini-circle {
    display: block;
    background: black;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    min-width: 50px;
    min-height: 50px;
    margin: 0;
    background: radial-gradient(circle at 33px 33px, #ffffff, #686868);
    font-size: 1vw;
    text-align: center;
    padding: 25% 0;
    font-family: 'Permanent Marker', cursive;
}

.powerball-circle {
    display: block;
    background: black;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    min-height: 80px;
    min-width: 80px;
    margin: 0;
    background: radial-gradient(circle at 33px 33px, #ff0000, #323232);
    font-size: 1.6vw;
    text-align: center;
    color: #ffffff;
    padding: 25% 0;
    font-family: 'Permanent Marker', cursive;
}

.mini-powerball-circle {
    display: block;
    background: black;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    min-height: 50px;
    min-width: 50px;
    margin: 0;
    background: radial-gradient(circle at 33px 33px, #ff0000, #323232);
    font-size: 1vw;
    text-align: center;
    color: #ffffff;
    padding: 25% 0;
    font-family: 'Permanent Marker', cursive;
}

.megamillions-circle {
    display: block;
    background: black;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    min-height: 80px;
    min-width: 80px;
    margin: 0;
    background: radial-gradient(circle at 33px 33px, #ffff00, #323232);
    font-size: 1.6vw;
    text-align: center;
    color: #323232;
    padding: 25% 0;
    font-family: 'Permanent Marker', cursive;
}

.mini-megamillions-circle {
    display: block;
    background: black;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    min-height: 50px;
    min-width: 50px;
    margin: 0;
    background: radial-gradient(circle at 33px 33px, #ffff00, #323232);
    font-size: 1vw;
    text-align: center;
    color: #323232;
    padding: 25% 0;
    font-family: 'Permanent Marker', cursive;
}

.correct-circle {
    display: block;
    background: black;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    min-height: 80px;
    min-width: 80px;
    margin: 0;
    background: radial-gradient(circle at 33px 33px, #00ff00, #323232);
    font-size: 1.6vw;
    text-align: center;
    color: #323232;
    padding: 25% 0;
    font-family: 'Permanent Marker', cursive;
}

footer {
    background: rgba(0, 0, 0, .8);
    color: rgba(255, 255, 255, 1);
    padding: 20px;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.horizontal-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid grey;
}

.email-verification {
    margin-top: 150px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    .circle {
        display: block;
        background: black;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        min-width: 50px;
        min-height: 50px;
        margin: 0;
        background: radial-gradient(circle at 33px 33px, #ffffff, #686868);
        font-size: 4.0vw;
        text-align: center;
        padding: 25% 0;
        font-family: 'Permanent Marker', cursive;
    }

    .mini-circle {
        min-width: 30px;
        min-height: 30px;
        font-size: 3.0vw;
    }

    .powerball-circle {
        display: block;
        background: black;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        min-height: 50px;
        min-width: 50px;
        margin: 0;
        background: radial-gradient(circle at 33px 33px, #ff0000, #323232);
        font-size: 4.0vw;
        text-align: center;
        color: #ffffff;
        padding: 25% 0;
        font-family: 'Permanent Marker', cursive;
    }

    .mini-powerball-circle {
        min-width: 30px;
        min-height: 30px;
        font-size: 3.0vw;
    }

    .megamillions-circle {
        display: block;
        background: black;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        min-height: 50px;
        min-width: 50px;
        margin: 0;
        background: radial-gradient(circle at 33px 33px, #ffff00, #323232);
        font-size: 4.0vw;
        text-align: center;
        color: #323232;
        padding: 25% 0;
        font-family: 'Permanent Marker', cursive;
    }

    .mini-megamillions-circle {
        min-width: 30px;
        min-height: 30px;
        font-size: 3.0vw;
    }

    .for-mobile {
        text-align: center;
    }

    .next-drawing-text {
        font-size: 1em;
    }

    .flip-clock-wrapper ul {
        margin: 2px !important;
        width: 2px !important;
    }

    .flip-clock-wrapper {
        transform: scale(0.8);
    }

    .img-fluid {
        max-width: 80%;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}