.basic-container {
    padding: 100px;
}

mat-grid-tile {
    background: rgba(212, 212, 212, 1);
}

.card-header {
    background-color: transparent !important;
    padding-top: 0.25px;
    padding-bottom: 0.25px;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
}