<div class="container-fluid" style="padding: 13px;">
    <div class="row" style="margin: 50px;">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    PROFILE
                </div>
                <div class="card-body text-center">
                    <div class="circle">
                        {{user.given_name | slice:0:1}}{{user.family_name | slice:0:1}}
                    </div>
                    <br />
                    <span class="card-name">{{user.given_name}} {{user.family_name}}</span>
                    <br />
                    <span>{{user.role}}</span>
                    <br />
                    <span class="card-email">{{user.sub}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    {{user.given_name | uppercase}}'S POWERBALL WINNERS
                </div>
                <div class="card-body" style="text-align: center;">
                    <ul class="list-unstyled" style="display: inline-block;">
                        <li *ngFor="let puPicks of power_user_winning_picks | slice:0:5" style="margin: 5px; padding: 5px;">
                            <div class="mini-circle">{{puPicks.ball1}}</div>
                            <div class="mini-circle">{{puPicks.ball2}}</div>
                            <div class="mini-circle">{{puPicks.ball3}}</div>
                            <div class="mini-circle">{{puPicks.ball4}}</div>
                            <div class="mini-circle">{{puPicks.ball5}}</div>
                            <div class="mini-powerball-circle">{{puPicks.lottoball}}</div>
                        </li>
                    </ul>
                    <div *ngIf="power_user_winning_picks.length > 5" style="text-align: center;">
                        <a href="#" class="view-all-link">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    {{user.given_name | uppercase}}'S MEGAMILLIONS WINNERS
                </div>
                <div class="card-body" style="text-align: center;">
                    <ul class="list-unstyled" style="display: inline-block;">
                        <li *ngFor="let mwPicks of mega_user_winning_picks | slice:0:5" style="margin: 5px; padding: 5px;">
                            <div class="mini-circle">{{mwPicks.ball1}}</div>
                            <div class="mini-circle">{{mwPicks.ball2}}</div>
                            <div class="mini-circle">{{mwPicks.ball3}}</div>
                            <div class="mini-circle">{{mwPicks.ball4}}</div>
                            <div class="mini-circle">{{mwPicks.ball5}}</div>
                            <div class="mini-megamillions-circle">{{mwPicks.lottoball}}</div>
                        </li>
                    </ul>
                    <div *ngIf="mega_user_winning_picks.length > 5" style="text-align: center;">
                        <a href="#" class="view-all-link">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    {{user.given_name | uppercase}}'S POWERBALL PICKS
                    <i class="fas fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Add User Pick" style="margin-top: 4px; cursor: pointer;" (click)="openUserPickModal('Powerball')"></i>
                </div>
                <div class="card-body" style="text-align: center;">
                    <ul class="list-unstyled" style="display: inline-block;">
                        <li *ngFor="let uPick of user_picks | slice:0:5" style="margin: 5px; padding: 5px;">
                            <div class="mini-circle">{{uPick.ball1}}</div>
                            <div class="mini-circle">{{uPick.ball2}}</div>
                            <div class="mini-circle">{{uPick.ball3}}</div>
                            <div class="mini-circle">{{uPick.ball4}}</div>
                            <div class="mini-circle">{{uPick.ball5}}</div>
                            <div class="mini-powerball-circle">{{uPick.lottoball}}</div>
                            {{uPick.saved_date | date: 'shortDate'}}
                        </li>
                    </ul>
                    <div *ngIf="user_picks.length > 5" style="text-align: center;">
                        <a [routerLink]="['./userpowerpicks']" class="view-all-link">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 50px;">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    {{user.given_name | uppercase}}'S MEGAMILLION PICKS
                    <i class="fas fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Add User Pick" style="margin-top: 4px; cursor: pointer;" (click)="openUserPickModal('Megamillions')"></i>
                </div>
                <div class="card-body" style="text-align: center;">
                    <ul class="list-unstyled" style="display: inline-block;">
                        <li *ngFor="let umPick of mega_user_picks | slice:0:5" style="margin: 5px; padding: 5px;">
                            <div class="mini-circle">{{umPick.ball1}}</div>
                            <div class="mini-circle">{{umPick.ball2}}</div>
                            <div class="mini-circle">{{umPick.ball3}}</div>
                            <div class="mini-circle">{{umPick.ball4}}</div>
                            <div class="mini-circle">{{umPick.ball5}}</div>
                            <div class="mini-megamillions-circle">{{umPick.lottoball}}</div>
                            {{umPick.saved_date | date: 'shortDate'}}
                        </li>
                    </ul>
                    <div *ngIf="user_picks.length > 5" style="text-align: center;">
                        <a [routerLink]="['./usermegapicks']" class="view-all-link">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">ALL POWERBALL PICKS</div>
                <div class="card-body" style="text-align: center;">
                    <ul class="list-unstyled" style="display: inline-block;">
                        <li *ngFor="let number of all_powerball_picks | slice:0:5" style="margin: 5px; padding: 5px;">
                            <div class="mini-circle">{{number.ball1}}</div>
                            <div class="mini-circle">{{number.ball2}}</div>
                            <div class="mini-circle">{{number.ball3}}</div>
                            <div class="mini-circle">{{number.ball4}}</div>
                            <div class="mini-circle">{{number.ball5}}</div>
                            <div class="mini-powerball-circle">{{number.powerball}}</div>
                            {{number.pick_date | date: 'shortDate'}}
                        </li>
                    </ul>
                    <div style="text-align: center;">
                        <a [routerLink]="['./powerpicks']" class="view-all-link">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">ALL MEGAMILLION PICKS</div>
                <div class="card-body" style="text-align: center;">
                    <ul class="list-unstyled" style="display: inline-block;">
                        <li *ngFor="let number of all_megamillions_picks | slice:0:5" style="margin: 5px; padding: 5px;">
                            <div class="mini-circle">{{number.ball1}}</div>
                            <div class="mini-circle">{{number.ball2}}</div>
                            <div class="mini-circle">{{number.ball3}}</div>
                            <div class="mini-circle">{{number.ball4}}</div>
                            <div class="mini-circle">{{number.ball5}}</div>
                            <div class="mini-megamillions-circle">{{number.megaball}}</div>
                            {{number.pick_date | date: 'shortDate'}}
                        </li>
                    </ul>
                    <div style="text-align: center;">
                        <a [routerLink]="['./megapicks']" class="view-all-link">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">SETTINGS</div>
                <div class="card-body" style="text-align: center;">
                </div>
            </div>
        </div>
    </div>
</div>