<div class="container-fluid" style="padding: 13px;">
    <div class="row" style="margin: 50px;">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    PROFILE
                </div>
                <div class="card-body text-center">
                    <div class="circle">
                        {{user.given_name | slice:0:1}}{{user.family_name | slice:0:1}}
                    </div>
                    <br />
                    <span class="card-name">{{user.given_name}} {{user.family_name}}</span>
                    <br />
                    <span>{{user.role}}</span>
                    <br />
                    <span class="card-email">{{user.sub}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    {{user.given_name | uppercase}}'S POWERBALL WINNERS
                </div>
                <div class="card-body" style="text-align: center;">
                    <ul class="list-unstyled wow fadeIn" data-wow-delay="0.2s" style="display: inline-block;">
                        <li *ngFor="let puPicks of power_user_winning_picks | slice:0:5" style="margin: 5px; padding: 5px;">
                            <div class="mini-circle">{{puPicks.ball1}}</div>
                            <div class="mini-circle">{{puPicks.ball2}}</div>
                            <div class="mini-circle">{{puPicks.ball3}}</div>
                            <div class="mini-circle">{{puPicks.ball4}}</div>
                            <div class="mini-circle">{{puPicks.ball5}}</div>
                            <div class="mini-powerball-circle">{{puPicks.lottoball}}</div>
                        </li>
                    </ul>
                    <div *ngIf="power_user_winning_picks.length > 0; else noWinners" style="text-align: center;">
                        <a [routerLink]="['./userpowerwinners']" class="view-all-link">VIEW WINNERS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    {{user.given_name | uppercase}}'S MEGAMILLIONS WINNERS
                </div>
                <div class="card-body" style="text-align: center;">
                    <ul class="list-unstyled wow fadeIn" data-wow-delay="0.2s" style="display: inline-block;">
                        <li *ngFor="let mwPicks of mega_user_winning_picks | slice:0:5" style="margin: 5px; padding: 5px;">
                            <div class="mini-circle">{{mwPicks.ball1}}</div>
                            <div class="mini-circle">{{mwPicks.ball2}}</div>
                            <div class="mini-circle">{{mwPicks.ball3}}</div>
                            <div class="mini-circle">{{mwPicks.ball4}}</div>
                            <div class="mini-circle">{{mwPicks.ball5}}</div>
                            <div class="mini-megamillions-circle">{{mwPicks.lottoball}}</div>
                        </li>
                    </ul>
                    <div *ngIf="mega_user_winning_picks.length > 0; else noWinners" style="text-align: center;">
                        <a [routerLink]="['./usermegawinners']" class="view-all-link">VIEW WINNERS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    {{user.given_name | uppercase}}'S POWERBALL PICKS
                    <i class="fas fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Add User Pick" style="margin-top: 4px; cursor: pointer;" (click)="openUserPickModal('Powerball')"></i>
                </div>
                <div class="card-body" style="text-align: center;">
                    <ul *ngIf="user_picks.length > 0; else noPicks" class="list-unstyled wow fadeIn" data-wow-delay="0.2s" style="display: inline-block;">
                        <li *ngFor="let uPick of user_picks | slice:0:5" style="margin: 5px; padding: 5px;">
                            <div class="mini-circle">{{uPick.ball1}}</div>
                            <div class="mini-circle">{{uPick.ball2}}</div>
                            <div class="mini-circle">{{uPick.ball3}}</div>
                            <div class="mini-circle">{{uPick.ball4}}</div>
                            <div class="mini-circle">{{uPick.ball5}}</div>
                            <div class="mini-powerball-circle">{{uPick.lottoball}}</div>
                            {{uPick.saved_date | date: 'shortDate'}}
                            <span *ngIf="user_picks.length < 6" class="fas fa-trash-alt" style="padding-left: 2px; cursor: pointer;" (click)="open_delete_modal(userPick, uPick.id, 'powerball')"></span>
                        </li>
                    </ul>
                    <div *ngIf="user_picks.length > 5" style="text-align: center;">
                        <a [routerLink]="['./userpowerpicks']" class="view-all-link">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 50px;">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    {{user.given_name | uppercase}}'S MEGAMILLION PICKS
                    <i class="fas fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Add User Pick" style="margin-top: 4px; cursor: pointer;" (click)="openUserPickModal('Megamillions')"></i>
                </div>
                <div class="card-body" style="text-align: center;">
                    <ul *ngIf="mega_user_picks.length > 0; else noPicks" class="list-unstyled" style="display: inline-block;">
                        <li *ngFor="let umPick of mega_user_picks | slice:0:5" style="margin: 5px; padding: 5px;">
                            <div class="mini-circle">{{umPick.ball1}}</div>
                            <div class="mini-circle">{{umPick.ball2}}</div>
                            <div class="mini-circle">{{umPick.ball3}}</div>
                            <div class="mini-circle">{{umPick.ball4}}</div>
                            <div class="mini-circle">{{umPick.ball5}}</div>
                            <div class="mini-megamillions-circle">{{umPick.lottoball}}</div>
                            {{umPick.saved_date | date: 'shortDate'}}
                            <span *ngIf="mega_user_picks.length < 6" class="fas fa-trash-alt" style="padding-left: 2px; cursor: pointer;" (click)="open_delete_modal(userPick, umPick.id, 'megamillions')"></span>
                        </li>
                    </ul>
                    <div *ngIf="mega_user_picks.length > 5" style="text-align: center;">
                        <a [routerLink]="['./usermegapicks']" class="view-all-link">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">ALL POWERBALL PICKS</div>
                <div class="card-body" style="text-align: center;">
                    <ul class="list-unstyled wow fadeIn" data-wow-delay="0.2s" style="display: inline-block;">
                        <li *ngFor="let number of all_powerball_picks | slice:0:5" style="margin: 5px; padding: 5px;">
                            <div class="mini-circle">{{number.ball1}}</div>
                            <div class="mini-circle">{{number.ball2}}</div>
                            <div class="mini-circle">{{number.ball3}}</div>
                            <div class="mini-circle">{{number.ball5}}</div>
                            <div class="mini-powerball-circle">{{number.powerball}}</div>
                            {{number.pick_date | date: 'shortDate'}}
                        </li>
                    </ul>
                    <div style="text-align: center;">
                        <a [routerLink]="['./powerpicks']" class="view-all-link">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">ALL MEGAMILLION PICKS</div>
                <div class="card-body" style="text-align: center;">
                    <ul class="list-unstyled wow fadeIn" data-wow-delay="0.2s" style="display: inline-block;">
                        <li *ngFor="let number of all_megamillions_picks | slice:0:5" style="margin: 5px; padding: 5px;">
                            <div class="mini-circle">{{number.ball1}}</div>
                            <div class="mini-circle">{{number.ball2}}</div>
                            <div class="mini-circle">{{number.ball3}}</div>
                            <div class="mini-circle">{{number.ball4}}</div>
                            <div class="mini-circle">{{number.ball5}}</div>
                            <div class="mini-megamillions-circle">{{number.megaball}}</div>
                            {{number.pick_date | date: 'shortDate'}}
                        </li>
                    </ul>
                    <div style="text-align: center;">
                        <a [routerLink]="['./megapicks']" class="view-all-link">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">SETTINGS</div>
                <div class="card-body wow fadeIn" data-wow-delay="0.2s" style="text-align: center;">
                    <h4>User Player</h4>
                    <hr class="m-4" />
                    <ul *ngIf="user_player !== null && users.length > 0 && !showUsersSelect" class="list-unstyled">
                        <li style="display: flex; justify-content: space-between">
                            {{user_player_view.firstName}} {{user_player_view.lastName}}
                            <span><i class="fas fa-trash-alt" style="padding-right: 5px; cursor: pointer;"></i><i class="far fa-edit" style="cursor: pointer;" (click)="showUsersSelect = true"></i></span>
                        </li>
                    </ul>
                    <i *ngIf="user_player === null && !showUsersSelect" class="fas fa-plus" style="cursor: pointer" (click)="showUsersSelect = true"><span>Add User Player</span></i>
                    <ul *ngIf="showUsersSelect" class="list-unstyled">
                        <li style="display: flex; justify-content: space-between;">
                            <select [(ngModel)]="player_id">
                                <option [ngValue]=-1 disabled selected>-- Select Player --</option>
                                <option *ngFor="let user of users" [ngValue]="user.id">{{user.firstName}} {{user.lastName}}</option>
                            </select>
                            <button *ngIf="showUsersSelect" type="button" class="btn btn-outline-success" (click)="setUserPlayer()">Set Player</button>
                        </li>
                    </ul>

                    <hr class="m-4" style="color: rgba(255, 255, 255, 1);" />
                    <ul class="list-unstyled">
                        <li style="display: flex; justify-content: space-between">
                            <span (click)="changePassword()" style="cursor: pointer;">Change Password</span><span (click)="resetPassword()" style="cursor: pointer;">Reset Password</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noWinners>
    You have no winners
</ng-template>

<ng-template #noPicks>
    You have no picks
</ng-template>

<ng-template #addUserPlayer>
</ng-template>

<ng-template #userPick>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete this pick?</p>
        <button type="button" class="btn btn-success" style="margin: 5px;" (click)="confirm_user_pick_delete()">Yes</button>
        <button type="button" class="btn btn-primary" style="margin: 5px;" (click)="this.bsModalRef.hide()">No</button>
    </div>
</ng-template>