@{
    ViewData["Title"] = "EmailVerification";
}

<div class="email-verification">
    <h2>EmailVerification</h2>

    <p>Thank you for verifying you email address please login <a asp-controller="App" asp-action="Login">here</a></p>
</div>