<div class="row">

    <div class="Absolute-Center is-Responsive">
        <header style="color: rgba(255, 255, 255, 1);">This is your first time logging in. Please set a permanent password.</header>
        <div class="col-md-12 col-md-offset-1">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <form (submit)="changePassword()" #theForm="ngForm" novalidate>
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <label for="password" style="color: rgba(255, 255, 255, 1);">Old Password</label>
                        <input type="password" class="form-control" name="OldPassword" [(ngModel)]="password_change.old_password" #OldPassword="ngModel" required />
                    </div>
                    <div class="form-group">
                        <label for="password" style="color: rgba(255, 255, 255, 1);">New Password</label>
                        <input type="password" class="form-control" name="NewPassword" [(ngModel)]="password_change.new_password" #NewPassword="ngModel" required />
                    </div>
                    <div class="form-group">
                        <label for="password" style="color: rgba(255, 255, 255, 1);">Confirm New Password</label>
                        <input type="password" class="form-control" name="CongirmPassword" [(ngModel)]="password_change.confirm_password" #ConfirmPassword="ngModel" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Change Password" class="btn btn-success" />
                    </div>
                    <div *ngIf="error !== null" class="alert alert-danger" role="alert">
                        {{error.error}}
                    </div>
                    <div *ngIf="response !== null" class="alert alert-success" role="alert">
                        {{response.message}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>