.table-dark {
    background-color: transparent !important;
}

.circle {
    display: inline-block;
    background: black;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    height: 80px;
    width: 80px;
    margin: 0;
    background: radial-gradient(circle at 33px 33px, #ffffff, #686868);
    font-size: 3.0vw;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);
}

.powerball-circle {
    display: block;
    background: black;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    min-height: 80px;
    min-width: 80px;
    margin: 0;
    background: radial-gradient(circle at 33px 33px, #ff0000, #323232);
    font-size: 3.0vw;
    text-align: center;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.megamillions-circle {
    display: block;
    background: black;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    min-height: 80px;
    min-width: 80px;
    margin: 0;
    background: radial-gradient(circle at 33px 33px, #ffff00, #323232);
    font-size: 1.6vw;
    text-align: center;
    color: #323232;
    padding: 25% 0;
    font-family: 'Permanent Marker', cursive;
}

.mini-circle {
    display: inline-block;
    background: black;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    height: 30px;
    width: 30px;
    margin: 3px;
    background: radial-gradient(circle at 17px 17px, #ffffff, #686868);
    font-size: 1.0vw;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: rgba(0, 0, 0, .7);
}

.mini-powerball-circle {
    display: inline-block;
    background: black;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    min-height: 30px;
    min-width: 30px;
    margin: 3px;
    background: radial-gradient(circle at 17px 17px, #ff0000, #323232);
    font-size: 1.0vw;
    text-align: center;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

.mini-megamillions-circle {
    display: inline-block;
    background: black;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    min-height: 30px;
    min-width: 30px;
    margin: 3px;
    background: radial-gradient(circle at 17px 17px, #ffff00, #323232);
    font-size: 1.0vw;
    text-align: center;
    color: #323232;
    font-family: 'Oswald', sans-serif;
}